body {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  font-family: "Black Han Sans", sans-serif;
  font-family: "Sedgwick Ave", cursive;
}

#app {
  display: grid;
  height: 100%;
}

#app canvas {
  margin: auto;
}

.info {
  position: fixed;
  top: 0;
  right: 20px;
}

.info p {
  margin: 0.3em;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 5em;
  flex-direction: column;
  text-align: center;
  color: black;
  justify-content: center;
}

.visible {
  display: flex;
}

.margin-left {
  margin-left: 0.3em;
}

.error {
  color: red;
  font-size: 3em;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.hidden {
  display: none;
}
